<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="aht" sortOrder="999" translate="label">
            <label>AHT</label>
        </tab>
        <section id="producttags" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>Product Tags</label>
            <tab>aht</tab>
            <resource>AHT_ProductTags::config_aht_producttags</resource>
            <group id="options" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>ProductTags Options</label>
                <field id="enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Enable</label>
                    <comment>enable module</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="tagslug" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
                    <label>Tag slug</label>
                    <comment>Slug under which it will be visible in frontend</comment>
                    <depends>
                        <field id="producttags/options/enable">1</field>
                    </depends>
                </field>
                <field id="titleblog" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
                    <label>Title Blog</label>
                    <comment>Config Title Blog show Product Details</comment>
                    <depends>
                        <field id="producttags/options/enable">1</field>
                    </depends>
                </field>
                <field id="numberofproducts" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
                    <label>Number of products per page</label>
                    <comment>How many products will be shown on tag overview page</comment>
                    <depends>
                        <field id="producttags/options/enable">1</field>
                    </depends>
                </field>
                <field id="showalsotagged" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Show Also tagged products</label>
                    <comment>Will add block to the product page with also tagged products</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="producttags/options/enable">1</field>
                    </depends>
                </field>
                <field id="taggedproductslimit" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
                    <label>Number of tagged products</label>
                    <comment>How many product will be shown as also tagged</comment>
                    <depends>
                        <field id="producttags/options/showalsotagged">1</field>
                    </depends>
                </field>
            </group>
        </section>
        <section id="tags_pending" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Tags</label>
            <tab>aht</tab>
            <resource>AHT_ProductTags::tags_pending</resource>
            <group id="tags" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Tags Pending page settings</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>